.products {
  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    width: $breakpointMedium + 20px;
  }
}

.product {
  background-color: $colorSilver;
  float: left;
  margin: 20px 10px 0 10px;
  width: calc(50% - 20px);

  &__image {
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: $fontSemiBold;
    text-transform: uppercase;
    line-height: 15px;
    height: 30px;
    color: $colorDark;
    padding: 8px 8px 0 8px;
    overflow: hidden;
    margin: 0;
  }

  &__badge {
    float: right;
    border: 1px solid $colorDark;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 8px 8px 8px 0;
    color: $colorDark;
    font-size: 13px;
    font-weight: $fontSemiBold;
    cursor: pointer;
    text-transform: uppercase;
    background-color: $colorSilver;

    &--success {
      border: 1px solid $colorSuccess;
      background-color: $colorSuccess;
      color: $colorLight;
      cursor: default;
    }

    &--active {
      color: $colorSilverDark;
      border: 1px solid $colorSilverDark;
      span {
        display: none;
      }
      &:after {
        content: "In Cart"
      }
    }
  }

  @media(min-width: $breakpointSmall) {
    width: calc(33.33% - 20px);
  }

  @media(min-width: $breakpointMedium) {
    width: calc(20% - 20px);
  }
}