$colorSuccess: #00905e;
$colorSilver: #dedede;
$colorSilverLight: #f7f7f7;
$colorSilverDark: #c2c2c2;
$colorDark: #262626;
$colorLight: #ffffff;
$colorViolet: #b359e1;
$colorBlueViolet: #855aba;

$breakpointMedium: 1060px;
$breakpointSmall: 640px;

$fontBold: 700;
$fontSemiBold: 600;
$fontRegular: 400;