@import "../../node_modules/normalize.css/normalize.css";

@import "variables";
@import "menu";

body {
  padding-top: 60px;
  background-color: $colorSilverDark;
  font-family: 'Source Sans Pro', sans-serif;
}